.navbar {
    .active {
        border-bottom: 2px solid black;
    }
    .nav-link {
        font-weight: 300 !important;
        font-family: "Poppins", sans-serif;
    }
  .logo-header{
    width: 6rem;
    // height: 2rem;
  }
}
